@page "/Account/Manage/SetPassword"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using ToDo.Domain.Entities

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Set password</PageTitle>

<RadzenText TextStyle="TextStyle.H3">Set your password</RadzenText>
<StatusMessage Message="@message" />
<p>
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<RadzenRow>
    <RadzenColumn Size="6">
        <EditForm Model="Input" FormName="set-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="rz-color-danger" role="alert" />
            <RadzenStack Gap="1rem" Class="rz-mb-3">
                <RadzenFormField Text="New password" Style="width: 100%;">
                    <InputText class="rz-textbox" type="password" @bind-Value="Input.NewPassword" autocomplete="new-password" placeholder="Please enter your new password." />
                </RadzenFormField>
                <ValidationMessage For="() => Input.NewPassword" class="rz-color-danger" />
            </RadzenStack>
            <RadzenStack Gap="1rem" Class="rz-mb-3">
                <RadzenFormField Text="Confirm password" Style="width: 100%;">
                    <InputText class="rz-textbox" type="password" @bind-Value="Input.ConfirmPassword" autocomplete="new-password" placeholder="Please confirm your new password." />
                </RadzenFormField>
                <ValidationMessage For="() => Input.ConfirmPassword" class="rz-color-danger" />
            </RadzenStack>
            <RadzenButton
                ButtonType="ButtonType.Submit"
                Text="Set password"
                ButtonStyle="ButtonStyle.Primary"
                Size="ButtonSize.Large"
                class="rz-w-100" />
        </EditForm>
     </RadzenColumn>
</RadzenRow>

@code {
    private string? message;
    private ApplicationUser user = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var hasPassword = await UserManager.HasPasswordAsync(user);
        if (hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/ChangePassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var addPasswordResult = await UserManager.AddPasswordAsync(user, Input.NewPassword!);
        if (!addPasswordResult.Succeeded)
        {
            message = $"Error: {string.Join(",", addPasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your password has been set.", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "New password")]
        public string? NewPassword { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "Confirm new password")]
        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string? ConfirmPassword { get; set; }
    }
}
