@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<RadzenText TextStyle="TextStyle.H1">Invalid password reset</RadzenText>
<p>
    The password reset link is invalid.
</p>
