@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<header>
    
    <RadzenText TextStyle="TextStyle.H1">Locked out</RadzenText>
    <p>This account has been locked out, please try again later.</p>
</header>
